{% extends "base.html" %} {% load static %} {% block content %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        color: var(--color-fg);
    }
    #canvas {
        background-color: var(--color-detail);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        width: 360px;
        height: 640px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #canvas img {
        border-radius: 14px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        max-width: 100%;
        max-height: 90%;
        min-width: 50%;
        min-height: 40%;
    }
    #canvas h1 {
        margin: 0;
    }
    #canvas div {
        background-color: var(--color-main);
        font-weight: 800;
        font-size: 1.3rem;
        color: var(--color-contraste);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    #canvas div p {
        margin: 10px;
    }
    #buttons {
        margin-top: 20px;
    }
    #buttons button {
        margin: 5px;
    }
</style>

<div class="container">
    <h1>Gerar Imagem para Instagram Stories</h1>
    <div id="canvas">
        <h1>para adocao</h1>
        <img id="pet-image" src="{% static 'assets/img/pug/a.jpg' %}" alt="pet" />
        <div id="dados">
            <p>luiz</p>
            <p>1 ano</p>
            <p>Pequeno</p>
        </div>
    </div>
    <div id="buttons">
        <button id="download">Baixar Imagem</button>
        <button id="share">Compartilhar</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<script>
    document.getElementById('download').addEventListener('click', function() {
        var canvas = document.getElementById('canvas');
        html2canvas(canvas).then(function(canvas) {
            var link = document.createElement('a');
            link.href = canvas.toDataURL('image/png');
            link.download = 'imagem_instagram.png';
            link.click();
        });
    });

    document.getElementById('share').addEventListener('click', function() {
        html2canvas(document.getElementById('canvas')).then(function(canvas) {
            var imgBase64 = canvas.toDataURL('image/png');

            if (navigator.share) {
                navigator.share({
                    title: 'Imagem Compartilhada',
                    text: 'Confira esta imagem!',
                    files: [new File([imgBase64], 'imagem_instagram.png', {type: 'image/png'})] // Cria um File com base na imagem gerada
                }).then(() => {
                    console.log('Conteúdo compartilhado com sucesso!');
                }).catch((error) => {
                    console.error('Erro ao compartilhar:', error);
                    alert("O compartilhamento direto não é suportado neste navegador.");
                });
            } else {
                alert("Navigator.share não é suportado neste navegador");
            }
        });
    });
</script>

{% endblock content %}
