{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        color: var(--color-fg);
    }
    #canvas {
        border: 5px solid var(--color-main);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        width: 30%;
        height: auto;
    }
    button {
        margin: 10px;
    }
</style>

<div class="container">
    <h1>Gerar Imagem para Instagram Stories</h1>
    <canvas id="canvas" ></canvas>
    <br>
    <button id="download">Baixar Imagem</button>
    <button id="share">Compartilhar no Instagram</button>
</div>

<script>
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');

    // Carregar a imagem de fundo
    const image = new Image();
    image.src = '{% static "assets/img/pug/a.jpg" %}'; // Substitua pelo caminho correto da sua imagem

    image.onload = () => {
        // Desenhar a imagem de fundo no canvas
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

        // Adicionar o texto "auau"
        ctx.fillStyle = 'white';
        ctx.font = '48px serif';
        ctx.fillText('auau', 150, 320);

        // Desenhar a borda amarela
        ctx.strokeStyle = 'yellow';
        ctx.lineWidth = 10;
        ctx.strokeRect(0, 0, canvas.width, canvas.height);
    };

    document.getElementById('download').addEventListener('click', function() {
        const link = document.createElement('a');
        link.download = 'imagem.png';
        link.href = canvas.toDataURL('image/png');
        link.click();
    });

    document.getElementById('share').addEventListener('click', function() {
        const image = canvas.toDataURL('image/png');
        const byteString = atob(image.split(',')[1]);
        const mimeString = image.split(',')[0].split(':')[1].split(';')[0];
        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        const blob = new Blob([ab], { type: mimeString });

        const filesArray = [new File([blob], 'imagem.png', { type: 'image/png' })];
        if (navigator.canShare && navigator.canShare({ files: filesArray })) {
            navigator.share({
                files: filesArray,
                title: 'Compartilhar no Instagram',
                text: 'Confira esta imagem!',
            })
            .then(() => alert('Compartilhamento bem-sucedido'))
            .catch(error => alert('Erro no compartilhamento', error));
        } else {
            alert('O compartilhamento direto não é suportado neste navegador.');
        }
    });
</script>
{% endblock content %}
