<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <!-- body css -->
        <link rel="stylesheet" href="/all/static/css/body.css" />
        <link rel="stylesheet" href="/all/static/css/cores.css" />
        <!-- login css -->
        <link rel="stylesheet" href="login.css" />

        <!-- fonte Poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- icone -->
        <link
            rel="stylesheet"
            href="https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css"
        />
        <link
        rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    </head>
    <body data-theme="padrao">
        <div id="login">
            <div id="leftL">
                <h1>Bem vindo ao Adote um Pet!</h1>
                <div id="criarContaDiv">
                    <p>Ainda nao tem uma conta?</p>
                    <button id="criarConta">Criar sua conta</button>
                </div>
            </div>
            <div id="rightL">
                <h2>entrar</h2>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                /><input
                    type="password"
                    name="senha"
                    id="senha"
                    placeholder="Senha"
                />
                <button id="entrar">Entrar</button>
                <p>ou entre pelo Fecabook ou Instagram</p>
                <div class="containerI">
                    <i class="fi fi-brands-instagram"></i>
                    <i class="fi fi-brands-facebook"></i>
                </div>
            </div>
        </div>
        <!-- registro -->
        <div id="registro">
            <div id="leftR">
                <h1>Bem vindo ao Adote um Pet!</h1>

                <div id="jatemconta">
                    <p>Ja tem uma conta?</p>
                    <button id="entrarBtn">Entrar</button>
                </div>

                <div id="peloFace">
                    <p>ou entre pelo Fecabook ou Instagram</p>
                    <div class="containerI">
                        <i class="fi fi-brands-instagram"></i>
                        <i class="fi fi-brands-facebook"></i>
                    </div>
                </div>

            </div>
            <div id="rightR">
                <h2>Cadastrar</h2>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                /><input
                    type="password"
                    name="senha"
                    id="senha"
                    placeholder="Senha"
                />
                <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Nome Completo"
                /><input
                    type="number"
                    name="telefone"
                    id="telefone"
                    placeholder="Numero de telefone"
                />
                <div id="fotoDePerfil">
                    <h6 id="userAreaPhoto"><i id="userFlatICon" class="fi fi-br-user"></i></h6>
                    <div id="fotoDePerfilInp">
                        <label for="avatar">Foto de perfil</label>
                        <input type="file" name="avatar" id="avatarInp">
                    </div>
                    <div id="temporario">
                        <input type="text" name="avatarUrl" id="avatarUrl"
                        placeholder="Avatar url">
                        <button id="confirmAvatar" style="width: 4rem; font-size: 1rem;">Salvar</button>
                    </div>
                </div>

                <button id="cadastrar">Cadastrar</button>
            </div>
        </div>
                 <button id="cadastrarm" type="submit">Cadastrar</button>

            <div class="troca">
                <hr />
                <p>Ja tem uma conta?</p>
                <button id="entrarBtnMobile">Entrar</button>
            </div>
        </div>
        <script src="login.js"></script>
    </body>
</html>
