{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Sign-in{% endblock title %}
{% block content %}
<div id="login">
    <div id="leftL">
        <h1>Bem vindo ao Adote um Pet!</h1>
        <div id="criarContaDiv">
            <p>Ainda nao tem uma conta?</p>
            <a class="btnLogin" href="{% url 'userauths:sign-up' %}">Criar sua conta</a>
        </div>
        <p>ou entre de outra maneira</p>
        <div class="containerI">
            {% if setup.settings.DEBUG == True %}
            <a class="containerIB" href="{% provider_login_url "facebook"%}">
                <i class="fi fi-brands-facebook"></i>
            </a>
            <a class="containerIB" href="{% provider_login_url "google"%}?next=/">  <i class="fi fi-brands-google"></i> </a>
            {% endif %}
        </div>
    </div>
    <form method="POST" id="rightL">
        {% csrf_token %}
        <h2>entrar</h2>
        <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
        /><input
            type="password"
            name="password"
            id="senha"
            placeholder="Senha"
        />
        <button class="btnLogin" type="submit">Login</button>
        <a href="{% url "password_reset" %}" id="passwordForget">Esqueceu a senha? <span>Clique aqui.</span></a>
    </form>
</div>



<!-- mobile login -->
<h1 id="mobileTitle">Entrar</h1>
<form method="POST" id="cLogin">
    <input
        type="email"
        name="emailm"
        id="emailm"
        placeholder="Email"
    /><input
        type="password"
        name="senham"
        id="senham"
        placeholder="Senha"
    />
    <button class="btnLogin" type="submit">Entrar</button>
    <a href="{% url "password_reset" %}" id="passwordForget">Esqueceu a senha? <span>Clique aqui.</span></a>
    <hr />
    <div class="troca">
        <p>Ainda nao tem uma conta?</p>
        <a class="btnLogin" href="{% url 'userauths:sign-up' %}">Criar sua conta</a>
    </div>
    <p>ou entre de outra maneira</p>
    <div class="containerI">
        <a class="containerIB" href="#"><i class="fi fi-brands-instagram"></i></a>
        <a class="containerIB" href="#"><i class="fi fi-brands-facebook"></i></a>
        <a class="containerIB" href="{% provider_login_url "google"%}?next=/">
        <i class="fi fi-brands-google"></i> </a>
    </div>
</form>
{% endblock content %}

