{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Sign-up{% endblock title %}

{% block content %}

<div id="registro">
    <div id="leftR">
        <h1>Bem vindo ao Adote um Pet!</h1>

        <div id="jatemconta">
            <p>Ja tem uma conta?</p>
            <a class="btnLogin" href="{% url 'userauths:sign-in' %}">Entrar</a>
        </div>

        <div id="peloFace">
            <p>ou entre de outra maneira:</p>
            <div class="containerI">
                <a class="containerIB" href="#">
                    <i class="fi fi-brands-facebook"></i>
                </a>
                <a class="containerIB" href="{% provider_login_url "google"%}?next=/">
                    <i class="fi fi-brands-google"></i>
                </a>
            </div>
        </div>

    </div>

    <form method="POST" id="rightR" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="alert-danger alert">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        <h2>Cadastrar</h2>
        {{form.username}}
        {{form.email}}
        {{form.phone_number}}
        {{form.password1}}
        {{form.password2}}
        <div id="fotoDePerfil">
            <h6 id="userAreaPhoto">
                <img src="#" id="preview" style="display:none;" alt="Preview">
                <i class="fi fi-br-user" id="iconPlaceholder" ></i>
            </h6>
            <div id="fotoDePerfilInp">
                {{form.image_user_profile}}
                <label for="fileInput" class="custom-file-label">Escolha sua foto de perfil</label>
            </div>
        </div>

        <button class="btnLogin" type="submit">Cadastrar</button>
    </form>
</div>

<!-- registro mobile -->
<div id="mobileRegistro">
    <h2>Cadastrar</h2>
    <form id="cRegistro" method="post">
        {{form.username}}
        {{form.email}}
        {{form.phone_number}}
        {{form.password1}}
        {{form.password2}}

        <div id="fotoDePerfilM">
            <h6 id="userAreaPhotoM">
                <img src="#" id="previewM" style="display:none;" alt="Preview">
                <i class="fi fi-br-user" id="iconPlaceholderM" ></i>
            </h6>
            <div id="fotoDePerfilInpM">
                {{form.image_user_profile}}
                <label for="fileInput" class="custom-file-label">Escolha sua foto de perfil</label>
            </div>
        </div>




    <button class="btnLogin" type="submit">Cadastrar</button>
    <hr />
    <div class="troca">
        <p>Ja tem uma conta?</p>
        <a class="btnLogin" href="{% url 'userauths:sign-in' %}">Entrar</a>
        <p>ou entre de outra maneira:</p>
        <div class="containerI">
            <a class="containerIB" href="#"><i class="fi fi-brands-facebook"></i></a>
            <a class="containerIB" href="{% provider_login_url "google"%}?next=/">  <i class="fi fi-brands-google"></i> </a>
        </div>
    </div>
    </form>
</div>
{% endblock content %}

