{% extends 'base.html' %}
{% load static %}
{% block title %}Sign-in{% endblock title %}
{% block content %}
<div id="login">
    <div id="leftL">
        <h1>Bem vindo ao Adote um Pet!</h1>
        <div id="criarContaDiv">
            <p>Ainda nao tem uma conta?</p>
            <a href="{% url 'userauths:sign-up' %}">Criar sua conta</a>
        </div>
    </div>
    <form method="POST" id="rightL">
        {% csrf_token %}
        <h2>entrar</h2>
        <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
        /><input
            type="password"
            name="senha"
            id="senha"
            placeholder="Senha"
        />
        <button type="submit">Login</button>
        <p>ou entre de outra maneira:</p>
        <div class="containerI">
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-facebook"></i>
            <i class="fi fi-brands-google"></i>
        </div>
    </form>
</div>




<!-- mobile login -->
<h1 id="mobileTitle">Entrar</h1>
<form method="POST" id="cLogin">
    <input
        type="email"
        name="emailm"
        id="emailm"
        placeholder="Email"
    /><input
        type="password"
        name="senham"
        id="senham"
        placeholder="Senha"
    />
    <button type="submit">Entrar</button>
    <p>ou entre de outra maneira:</p>
    <div class="containerI">
        <i class="fi fi-brands-instagram"></i>
        <i class="fi fi-brands-facebook"></i>
        <i class="fi fi-brands-google"></i>
    </div>
    <div class="troca">
        <hr />
        <p>Ainda nao tem uma conta?</p>
        <a href="{% url 'userauths:sign-up' %}">Criar sua conta</a>
    </div>
</form>
{% endblock content %}

