{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Sign-up{% endblock title %}

{% block content %}

<div id="registro">
    <div id="leftR">
        <h1>Bem vindo ao Adote um Pet!</h1>

        <div id="jatemconta">
            <p>Ja tem uma conta?</p>
            <a href="{% url 'userauths:sign-in' %}">Entrar</a>
        </div>

        <div id="peloFace">
            <p>ou entre de outra maneira:</p>
            <div class="containerI">
                <i class="fi fi-brands-instagram"></i>
                <i class="fi fi-brands-facebook"></i>
                <a href="{% provider_login_url "google"%}?next=/">  <i class="fi fi-brands-google"></i> </a>
            </div>
        </div>

    </div>
    <form method="POST" id="rightR">
        {% csrf_token %}
        <div class="alert-danger alert">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        <h2>Cadastrar</h2>
        <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
        /><input
            type="password"
            name="senha"
            id="senha"
            placeholder="Senha"
        />
        <input
            type="text"
            name="name"
            id="name"
            placeholder="Nome Completo"
        /><input
            type="number"
            name="telefone"
            id="telefone"
            placeholder="Numero de telefone"
        />
        <div id="fotoDePerfil">
            <h6 id="userAreaPhoto"><i id="userFlatICon" class="fi fi-br-user"></i></h6>
            <div id="fotoDePerfilInp">
                <label for="avatar">Foto de perfil</label>
                <input type="file" name="avatar" id="avatarInp">
            </div>
        </div>

        <button id="cadastrar" type="submit">Cadastrar</button>


    </form>


</div>
{% endblock content %}

