{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Sign-in{% endblock title %}
{% block content %}
<div id="login">
    <div id="leftL">
        <h1>Bem vindo ao Adote um Pet!</h1>
        <div id="criarContaDiv">
            <p>Ainda não tem uma conta?</p>
            <a class="btnLogin" href="{% url 'userauths:sign-up' %}">Criar sua conta</a>
        </div>
        <p>ou entre de outra maneira</p>
        <div class="containerI">
            <a class="containerIB" href="#">
                <i class="fi fi-brands-facebook"></i>
            </a>
            <a class="containerIB" href="{% provider_login_url "google" %}?next=/">
                <i class="fi fi-brands-google"></i>
            </a>
        </div>
    </div>
    <form method="POST" id="rightL">
        {% csrf_token %}
        <h2>Entrar</h2>
        <div class="label">
            <label for="email" id="label-email">
                Email
            </label>
            <input type="email" name="email" id="email" />
        </div>
        <div class="label">
            <label for="password" id="label-senha">
                Senha
            </label>
            <input type="password" name="password" id="senha" />
        </div>
        <button class="btnLogin" type="submit">Login</button>
        <a href="{% url "password_reset" %}" id="passwordForget">Esqueceu a senha? <span>Clique aqui.</span></a>

        {% if form.errors %}
        <div id="error-messages" class="alerts alert-dangers">
            <button type="button" class="closeE" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
            <ul id="error-list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const emailInput = document.getElementById("email");
        const emailLabel = document.getElementById("label-email");
        const passwordInput = document.getElementById("senha");
        const passwordLabel = document.getElementById("label-senha");
        emailLabel.style.marginBottom = "2.5rem";
        passwordLabel.style.marginBottom = "2.5rem";

        emailInput.addEventListener("focus", function() {
            emailLabel.style.marginBottom = "5.2rem";
        });
        if(emailInput.value != ""){
            emailLabel.style.marginBottom = "5.2rem";

        }
        emailInput.addEventListener("blur", function() {
            if (emailInput.value != "") {
                emailLabel.style.marginBottom = "5.2rem";
            }
        });

        passwordInput.addEventListener("focus", function() {
            passwordLabel.style.marginBottom = "5.2rem";
        });
        if(passwordInput.value != ""){
            passwordLabel.style.marginBottom = "5.2rem";
        }

        passwordInput.addEventListener("blur", function() {
            if (passwordInput.value != "") {
                passwordLabel.style.marginBottom = "5.2rem";
            }
        });
    });
</script>

<!-- Mobile login -->
<form method="POST" id="cLogin" class="mobileForm">
    <h1 id="mobileTitle">Entrar</h1>
    {% csrf_token %}
    <input type="email" name="email" id="emailm" placeholder="Email" />
    <input type="password" name="password" id="senham" placeholder="Senha" />
    <button class="btnLogin" type="submit">Entrar</button>
    <a href="{% url "password_reset" %}" class="loginLink" id="passwordForget">Esqueceu a senha? <span>Clique aqui.</span></a>

    {% if form.errors %}
    <div id="error-messages-mobile" class="alerts alert-dangers">
        <button type="button" class="closeE" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">X</span>
        </button>
        <ul id="error-list">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</form>

<div class="troca" id="trocaLoginMobile">
    <a class="loginLink" href="{% url 'userauths:sign-up' %}">Ainda não tem uma conta? <br><span>Clique aqui.</span></a>
    <a class="loginLink">ou entre de outra maneira</a>
    <div class="containerI">
        <a class="containerIB" href="#"><i class="fi fi-brands-facebook"></i>Login via Facebook</a>
        <a class="containerIB" href="{% provider_login_url "google" %}?next=/">
            <i class="fi fi-brands-google"></i>Login via Google</a>
    </div>
</div>
{% endblock content %}
