{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Sign-up{% endblock title %}

{% block content %}

<div id="registro">
    <div id="leftR">
        <h1>Bem vindo ao Adote um Pet!</h1>

        <div id="jatemconta">
            <p>Ja tem uma conta?</p>
            <a class="btnLogin" href="{% url 'userauths:sign-in' %}">Entrar</a>
        </div>

        <div id="peloFace">
            <p>ou entre de outra maneira:</p>
            <div class="containerI">
                {% if setup.settings.DEBUG == True %}
                <a class="containerIB" href="{% provider_login_url "facebook"%}">
                    <i class="fi fi-brands-facebook"></i>
                </a>
                <a class="containerIB" href="{% provider_login_url "google"%}?next=/">
                    <i class="fi fi-brands-google"></i>
                </a>
                {% endif %}
            </div>
        </div>

    </div>

    <form method="POST" id="rightR">
        {% csrf_token %}
        <div class="alert-danger alert">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        <h2>Cadastrar</h2>
        {{form.username}}
        {{form.email}}
        {{form.phone_number}}
        {{form.password1}}
        {{form.password2}}
        <div id="fotoDePerfil">
            <h6 id="userAreaPhoto"><i id="userFlatICon" class="fi fi-br-user"></i></h6>
            <div id="fotoDePerfilInp">
                <label for="avatar">Foto de perfil</label>
                <input type="file" name="avatar" id="avatarInp">
            </div>
        </div>
        <button class="btnLogin" type="submit">Cadastrar</button>
    </form>
</div>

<!-- registro mobile -->
<div id="mobileRegistro">
    <h2>Cadastrar</h2>
    <form id="cRegistro" method="post">
        {{form.username}}
        {{form.email}}
        {{form.phone_number}}
        {{form.password1}}
        {{form.password2}}

    <div id="fotoDePerfil">
        <label for="avatar">Foto de perfil</label>
        <input type="file" name="avatar" id="avatarInp">
    </div>
    <button class="btnLogin" type="submit">Cadastrar</button>
    <hr />
    <div class="troca">
        <p>Ja tem uma conta?</p>
        <a class="btnLogin" href="{% url 'userauths:sign-in' %}">Entrar</a>
        <p>ou entre de outra maneira:</p>
        <div class="containerI">
            <a class="containerIB" href="#"><i class="fi fi-brands-instagram"></i></a>
            <a class="containerIB" href="#"><i class="fi fi-brands-facebook"></i></a>
            <a class="containerIB" href="{% provider_login_url "google"%}?next=/">  <i class="fi fi-brands-google"></i> </a>
        </div>
    </div>
    </form>
</div>
{% endblock content %}

