{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "partials/configNav.html" %}
<section class="configSection">
    <h1>Editar Perfil</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="inputDiv">
        <label for="username">Nome Completo:</label>
        <input type="text" name="username" style="text-transform: capitalize;" placeholder="Nome completo" value="{{ user.username }}">
        <h3>Contatos</h3>
        <label for="instagram_field">Instagram:</label>
        <input type="text" name="instagram_field" id="insta" placeholder="EX.: user_123">
        <label for="facebook_field">Facebook:</label>
        <input type="text" name="facebook_field" placeholder="EX.: user_123">
        <label for="phone_number">Telefone:</label>
        <input type="number" name="phone_number" placeholder="EX.:77 777777777" value="{{ user.phone_number }}">
    </div>
    <button type="submit">Salvar</button>
</form>
    <form id="phtoform" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Foto de Perfil</h3>
        <div id="photoDiv">
            <div id="profileImageDiv">
                <img src="{{user.image_user_profile.url}}" alt="Foto de perfil do usuário" id="profileImage">
            </div>
            <label for="changePhoto" id="changePhotoLabel">Trocar foto</label>
            <input type="file" name="change" id="changePhoto" style="display: none;">
        </div>
        <button type="submit">Salvar</button>
    </form>
    <h1 style="margin-top: 4.3rem;"><a id="deletarPerfil" href="{% url "userauths:user-delete" pk=user.pk  %}">Deletar perfil</a></h1>
</section>
<script src=" {% static "assets/js/profilePhotoUpdate.js" %} "></script>
{% endblock content %}
