{% extends "base.html" %}
{% block content %}
{% include "partials/configNav.html" %}
<section class="configSection">
    <h1>Aparencia</h1>
    <h3>Cores</h3>
    <ul class="configUl">
        <li>Amarelo</li>
        <li>Azul</li>
        <li>Laranja</li>
    </ul>
    <button class="userUpdateBtn">aplicar</button>
    <h3>Tema</h3>
    <ul class="configUl">
        <li>Claro</li>
        <li>Escuro</li>
        <li>automático</li>
    </ul>
    <button class="userUpdateBtn">aplicar</button>
</section>
{% endblock content %}
