/* #cards{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
} */

#subdivCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    height: 100%; 
}

#cards {
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: left   ;
    align-items: flex-end;
    padding: 1rem;

}

/* .card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 10px 0 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-card);
    color: var(--color-fg);
    padding: 1rem;
    width: 20rem;
    height: 10rem;
    cursor: pointer;
    justify-content: left;
} */
.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-card);
    color: var(--color-fg);
    width: calc(35% - 100px);
    margin: 15px;
    min-width: 20rem;
    height: 12.3rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
}
.card:hover{
    filter: opacity(60%);
}
.card img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px; 
}

/* .card img {
    border: 1px solid #ccc;
    max-width: 47%;
    max-height: 100%;
    min-width: 35%;
} */


.card .info {
    padding: 5px;
    margin-left: 10px;
}

.info h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.info p {
    margin: 8px 0;
    font-size: 14px;
    color: var(--color-fg);
}