/* #cards {
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 1rem;
}
.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-card);
    color: var(--color-fg);
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    transition: opacity 0.3s;
    width: 29%;
    height: 16rem;
} */

#cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-card);
    color: var(--color-fg);
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    transition: opacity 0.3s;
    width: calc(33% - 30px);
    height: 16rem;
}

@media (min-width: 1900px) {
    .card {
        width: calc(23% - 20px);
        height: 16rem;
    }
}
@media (max-width: 800px) {
    .card {
        width: 44%;
    }
}
@media (max-width: 600px) {
    .card {
        width: 100%;
        height: 14rem;
    }
}

.card:hover {
    filter: opacity(60%);
}
.card img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.info {
    height: 50%;
    padding: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.info h2 {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: left;
}

.info p {
    margin: 8px 0;
    font-size: 14px;
    color: var(--color-fg);
}
@media (min-width: 1900px) {
    .card img {
        width: 60%;
    }
    .info {
        width: 40%;
    }
}
@media (max-width: 600px) {
    .card img{
        width: 40%;
    }
}