{% extends "base.html" %}
{% block title %}Redefinir sua senha{% endblock %}
{% block content %}
<h1>Redefinir sua senha</h1>
{% if validlink %}
<p>Por favor, insira sua nova senha duas vezes:</p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Alterar minha senha" /></p>
</form>
{% else %}
<p>O link para redefinir a senha era inválido, talvez porque ele já tenha sido usado. Por favor, peça uma nova redefinição de senha.</p>
{% endif %}
{% endblock %}
