{% load static %}
{% if request.path == "/"%}
<script src=" {% static "assets/js/header.js" %} "></script>
<script src=" {% static "assets/js/navBar.js" %} "></script>
<script src=" {% static "assets/js/banner.js" %} "></script>
<script src=" {% static "assets/js/search.js" %} "></script>
<script src=" {% static "assets/js/filter.js" %} "></script>
{% else %}
<script src=" {% static "assets/js/profilePhotoUpdate.js" %} "></script>
{% endif %}

{% if request.path == "/user/sign-up/" %}
<script src=" {% static "assets/js/profilePhoto.js" %} "></script>
{% endif %}

<script src=" {% static "assets/js/theme.js" %} "></script>



