{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- body css -->
<link rel="stylesheet" href=" {% static "assets/css/body.css" %} " /> <link
rel="stylesheet" href=" {% static "assets/css/cores.css" %} " /> <link
rel="stylesheet" href="{% static "assets/css/imports.css" %}">

<!-- header css -->
<link rel="stylesheet" href=" {% static "assets/css/header/header.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/header/mobile/headerMobile.css" %} " media="screen and (max-width: 840px)" />

<!-- navBar css -->
<link rel="stylesheet" href=" {% static "assets/css/navBar/navbar.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/navBar/mobile/navBarMobile.css" %} " media="screen and (max-width: 840px)" />

<!-- banner -->
<link rel="stylesheet" href=" {% static "assets/css/banner/banner.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/banner/mobile/bannerMobile.css" %} " media="screen and (max-width: 840px)" />

<!-- card css -->
<link rel="stylesheet" href=" {% static "assets/css/card/card.css" %} " />

<!-- cadastro de pet -->
<link rel="stylesheet" href=" {% static "assets/css/petCadastro/petCadastro.css" %} " />

<!-- Pet detail -->
<link rel="stylesheet" href=" {% static "assets/css/petDetail/petDetail.css" %}" />

<!-- Config page -->
<link rel="stylesheet" href=" {% static "assets/css/config/config.css" %} " />

<!-- Config User page -->
<link rel="stylesheet" href=" {% static "assets/css/configUser/configUser.css" %} " />

<!-- FavIcon -->
<link rel="shortcut icon" href="{% static "assets/img/favicons/favicon-16x16.png" %}">

<!-- login -->
{% if request.path == "/user/sign-in/" or request.path == "/user/sign-up/" %}
<link rel="stylesheet" href="{% static "assets/css/login/login.css" %}">
<link rel="stylesheet" href="{% static "assets/css/login/mobile/loginMobile.css"%}" media="screen and (max-width: 840px)">
{% endif %}
<link rel="stylesheet" href="{% static "assets/css/login/googleLogin.css"%}">
<link rel="stylesheet" href="{% static "assets/css/login/mobile/googleLoginMobile.css"%}" media="screen and (max-width: 840px)">
<link rel="stylesheet" href="{% static "assets/css/login/password.css"%}">

