{% extends "createPetBase.html" %} 
{% block form_title %}Informações Básicas {% endblock form_title %} 
{% block default_content %}
{% endblock default_content %}
{% block form_content %}
<form id="form1" method="post">
    {% csrf_token %}

    <div id="div1">
        <input
            type="text"
            id="name"
            name="name"
            placeholder="Nome do Pet"
            value="{{pet.name}}"
            required
        />
        <input
            type="text"
            name="breed"
            placeholder="Raça"
            id="breed"
            value="{{pet.breed}}"
            required
        />
    </div>

    <div>
        <select name="species" id="species" required>
            <option value="0">Espécie</option>
            <option value="DOG">Cachorro</option>
            <option value="CAT">Gato</option>
        </select>
        <select name="sex" id="sex" required>
            <option value="0">Sexo</option>
            <option value="Male">Macho</option>
            <option value="Female">Fêmea</option>
        </select>
        <input
            name="color"
            type="text"
            placeholder="Cor"
            id="color"
            required
            value="{{pet.color}}"
        />
    </div>

    <div>
        <input
            name="age"
            type="number"
            placeholder="Idade em anos"
            id="age"
            required
        />
        <input
            name="size"
            type="number"
            placeholder="Peso em kg"
            id="size"
            required
        />
        <select name="weight" id="weight" required>
            <option value="0">Tamanho</option>
            <option value="p">Pequeno</option>
            <option value="m">Medio</option>
            <option value="g">Grande</option>
        </select>
        <input
            name="weight"
            type="number"
            placeholder="Altura em cm"
            id="weight"
            required
        />
    </div>
    <button id="submit" class="submit" type="submit">Proximo</button>
    <script>
        document.getElementById("submit").addEventListener("click", function(){
            const species = document.getElementById("species").value;
            const sex = document.getElementById("sex").value;
            const weight = document.getElementById("weight").value;
            if(species == "0" || sex == "0" || weight == "0"){
                alert("preeche tudoooooooooooooooo");
            }
        });
    </script>
</form>
{% endblock form_content %}
