{% extends "base.html" %}
{% load static %}
{% block title %} Cadastro do Pet {% endblock title %}
{% block content %}
<div id="screen">
        <nav id="listas">
            {% include "partials/navForm.html" %}
            <a 
           id="cancelPet" href="/">Cancelar</a>
        </nav>
    <section>
        <div id="top">
            <h1>Cadastro do pet para adoção</h1>
            <h3 id="form-title">{% block form_title %}{% endblock form_title %}</h3>
        </div>
        <div id="espaco_dos_formularios">
        {% block form_content %}{% endblock form_content %}
        </div>
    </section>
</div>
{% endblock content %}