{% extends "base.html" %}
{% load static %}
{% block title %} Cadastro do Pet {% endblock title %}
{% block content %}
<div id="screen">
        <nav id="listas">
            {% include "partials/navForm.html" %}
        </nav>
    <section>
        <div id="top">
            <h1>Cadastro do pet para adoção</h1>
            <h3 id="form-title">{% block form_title %}{% endblock form_title %}</h3>
        </div>
        <div id="espaco_dos_formularios">
            {% block default_content %}
            <h1>Ao lado esquerdo da tela é possível observar uma área de navegação na qual você pode se orientar para qual formulário deseja ir, entretanto ao iniciar um cadastro de um animal, é obrigatório preencher as informações básicas antes de tudo.</h1>
        {% endblock default_content %}
        {% block form_content %}{% endblock form_content %}
        </div>
    </section>
</div>
{% endblock content %}