{% block content %}
<style>
    .container {
        max-width: 1200px;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <span>SUPER SMASH BROSS </span>
    <h3>controles:</h3>
    <p>start <span>ENTER</span></p>
    <p>A <span>z</span></p>
    <p>B <span>x</span></p>
    <p>L <span>q</span></p>
    <p>R <span>e</span></p>
    <p>Cursor <span>t f g h</span></p>
    <img
        src="https://media.tenor.com/9IgA6IjB46YAAAAi/yippee.gif"
        alt="yippe"
    />
    <iframe
        src="https://www.retrogames.cc/embed/32117-super-smash-bros-usa.html"
        width="600"
        height="450"
        frameborder="no"
        allowfullscreen="true"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        scrolling="no"
    ></iframe>
</div>

{% endblock content %}
