{% extends "base.html" %}
{% load static %}
{% block title %} Pets {% endblock title %}

{% block content %}
{% include "partials/header_index.html" %}

<div id="moreItens">
    <a class="la" id="duvidasFrequentes" href="{% url "pets:pet-faq" %}">Duvidas frequentes</a>
    <p class="la" id="filtroM">Filtros <span id="arrowM">&#x25BE;</span></p>
</div>
{% include "partials/banner.html" %}

<main>
    {% include "partials/filtro_index.html" %}

    <section id="cards">
        {% if pet %}
            {% for pets in pet %}
                {% if pets.images_pets.first.image_pet_profile %}
                    <a href="{% url 'pets:pet_detail' pk=pets.id %}" class="card">
                        <img src="{{ pets.images_pets.first.image_pet_profile.url }}" alt="Foto de perfil do pet {{ pets.name }}">
                        <h1 class="pet-name">{{ pets.name }}</h1>
                        <div class="info">
                            <p data-species="{{ pets.species }}" class="pet-species">{% if pet.species == "DOG" %}Cachorro{% else %}Gato{% endif %}</p>
                            <p data-breed="{{ pets.breed }}" class="pet-breed">{{ pets.breed }}</p>
                            <p  data-size="{{ pets.size }}" class="pet-size">{{ pets.get_size_display }}</p>
                            <p data-age="{{ pets.age }}" class="pet-age">{{ pets.age }} anos</p>
                            <p data-sex="{{ pets.sex }}" class="pet-sex">{{ pets.get_sex_display }}</p>
                            <p  class="pet-owner">{{ pets.owner }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="no-pets-message">
                <img src="{% static 'assets/img/cat_sad.jpg' %}" alt="Gato triste">
                <h2>Desculpe, nenhum pet está disponível no momento</h2>
                <p>Volte mais tarde para conhecer novos amigos!</p>
            </div>
        {% endif %}
        <div class="no-results-message no-pets-message" id="nopet" style="display: none;">
            <img src="{% static 'assets/img/cat_sad.jpg' %}" alt="Nenhum pet encontrado">
            <h2>Nenhum pet encontrado</h2>
            <p>Tente alterar os termos da sua pesquisa.</p>
        </div>
    </section>
</main>

{% endblock content %}
