{% extends "base.html" %}
{% load static %}
{% block content %}

<main id="addedPet" class="listScreen">
    {% if pet %}
    {% for pets in pet %}
    {% if pets.images_pets.first.image_pet_profile %}
    <div class="petAdded">
            <div class="cardMainInfo">
                <img src="{{ pets.images_pets.first.image_pet_profile.url }}" alt="Foto de perfil do pet {{ pets.name }}">
                <div class="mainInfo">
                    <h1 class="pet-name"><span>{{ pets.name }}</span></h1>                    <p>{% if pets.adopted %}Adotado {% else %}Não foi adotado{% endif %}</p>
                    <p>{{ pets.created_at|date:"d/m/Y" }}</p>
                </div>

                <div class="iconsDiv">
                    <a href="{% url "pets:pet-delete" pk=pets.id  %}" class="trashIcon" title="Apagar"><i class="fi fi-br-trash"></i></a>
                    <a href="{% url "pets:update_pet" pk=pets.id  %}" class="editIcon" title="Editar"><i class="fi fi-br-edit"></i></a>
                    <a href="{% url 'pets:pet_detail' pk=pets.id %}" class="eyeIcon" title="Visualizar"><i class="fi fi-br-eye"></i></a>
                </div>
            </div>

            <form action="{% url 'pets:toggle_adopted' pk=pets.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">
                    {% if pets.adopted %}
                        Colocar pra adoção
                    {% else %}
                        Marcar Como Adotado
                    {% endif %}
                </button>
            </form>
    </div>
        {% endif %}
    {% endfor %}
    {% else %}
    <div id="nopet">
        <h1>Desculpa, você está sem nenhuma pet cadastrado no momento </h1>
        <img src="{% static "assets/img/cat_sad.jpg" %}" alt="">
    </div>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.pet-name').forEach(function(el) {
                const span = el.querySelector('span');
                if (span.scrollWidth > el.clientWidth) {
                    el.classList.add('marquee');
                }
            });
        });
    </script>
</main>
{% endblock content %}
