{% extends "base.html" %}
{% load static %}
{% block title %} Cadastro do Pet {% endblock title %}
{% block content %}

<div id="screen">
    <nav id="listas">
        <ul id="nav-list">
            <li id="tab1" class="active">Informações básicas</li>
            <li id="tab2">Informações médicas</li>
            <li id="tab3">Histórico</li>
            <li id="tab4">Fotos</li>
        </ul>
        <button>Salvar</button>
    </nav>
    <section>
        <div id="top">
            <h1>Cadastro do pet para adoção</h1>
            <h3 id="form-title">Informações básicas</h3>
        </div>
        <div id="espaco_dos_formularios">
            <form id="form1" method="POST" style="display: flex;" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="div1">
                    <input type="file" name="image_pet_profile" id="fileInput" class="custom-file-input" accept="image/*">
                    <input type="text" name="name" placeholder="Nome do Pet">
                    <input type="text" name="breed" placeholder="Raça">
                </div>
                <div>
                    <select name="species">
                        <option value="0">Espécie</option>
                        <option value="DOG">Cachorro</option>
                        <option value="CAT">Gato</option>
                    </select>
                    <select name="sex">
                        <option value="0">Sexo</option>
                        <option value="Male">Macho</option>
                        <option value="Female">Fêmea</option>
                    </select>
                    <input name="color" type="text" placeholder="Cor">
                </div>
                <div>
                    <input name="age" type="number" placeholder="Idade em anos">
                    <input name="size" type="number" placeholder="Peso em kg">
                    <input name="weight" type="number" placeholder="Altura em cm">
                </div>
                <button type="submit">ENTRE</button>
            </form>
            <form id="form2" method="post" style="display: none;">
                <input type="text">
                <input type="text">
                <input type="text">
            </form>
            <form id="form3" method="post" style="display: none;">
                <textarea cols="120" rows="10" placeholder="História de vida"></textarea>
                <textarea cols="120" rows="10" placeholder="Observações"></textarea>
            </form>
            <form id="form4" method="post" style="display: none;">
                <div id="f4d01">
                    <label for="profilePet">Foto Principal do Pet</label>
                    <input type="file" name="profilePet" id="profilePet" accept="image/*">
                    <label id="labelDiv" for="profilePet"><div id="main-photo-preview"><i id="ibtn" class="fi fi-br-plus"></i></div></label>
                </div>
                <div id="f4d02">
                    <label for="adicPhoto">Fotos Extras do pet</label>
                    <input type="file" name="adicPhoto" id="adicPhoto" accept="image/*" multiple style="display: none;">
                    <button type="button" id="add-photo-button"><i class="fi fi-br-plus"></i></button>
                    <div id="imageContainer"></div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock content %}
