#listas{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    justify-content: center;
}
#menuIconNavClose{
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: var(--color-main);
    margin: 1.2rem;
    cursor: pointer;
}
#menuIconNavClose:hover{
    transform: scale(1.05);
    color: var(--color-main-hover);
}
#cancelPet{
    position: fixed;
    bottom: 0;
}
#screen section {
    width: 100%;
}
#screen section #top h1{
    display: none;
}
#screen section #top {
    height: 8%;
}
#menuIconNav{
    color: var(--color-main);
    font-size: 2rem;
    margin-left: 1rem;
}
#menuIconNav:hover{
    color: var(--color-main-hover);
    transform: scale(1.05);
}
#form1{
    flex-direction: column;
}
#form1 input, #form1 select{
    width: 100%;
}
#espaco_dos_formularios #form1 div{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
#form3 textarea{
    width: 80%;
}
#form2{
    margin: 0;
}
#form2 div textarea{
    margin: 10px;
    width: 90%;
}
#espaco_dos_formularios #form2 div{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 20px;
}
#form4{
    flex-direction: column;
    margin-top: 100%;
}
#form4 #f4d01{
    width: 100%;
    margin-bottom: 10px;
}
#form4 #f4d02{
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
}
#form4 #f4d02 #f4d03{
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
}
.extra-photo-preview{
    margin: 30px;
}
#form4 span{
    left: 0;
}