#p1, #p2{
    width: 90%;
    align-self: center;
}
#p1 form{
    padding: 0;
    flex-direction: column;
    width: 100%;

}
#p1 form p input[type="email"]{
    width: 100%;
}
#p1 form p{
    width: 100%;
    align-items: center;
    justify-content: left;
}