#config-nav{
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    flex-direction: row;
    padding: 0;
}
#config-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#config-nav ul li{
    margin: 0;
}
#config-nav #voltar{
    display: none;
}
.configSection{
    margin: 0;
}