{% extends "base.html" %}
{% load static %}
{% block title %} Cadastro do Pet {% endblock title %}
{% block content %}


        <ul id="nav-list">
            <li><a href="{% url "pets:create_pet" %}">Informações básicas</a></li>

            {% if pet_id %}
            <li><a href="{% url "pets:create_history_pet" pet_id=pet.id %}">Historia</a></li>
            <li><a href="{% url "pets:create_medical_record"  pet_id=pet.id  %}">Informações médicas</a></li>
            <li><a href="{% url "pets:create_images_pets"   pet_id=pet.id %}">Fotos</a></li>
            {% endif %}
        </ul>



{% endblock content %}
