{% extends "base.html" %}
{% load static %}
{% block content %}
<nav id="config-nav">
    <ul>
        {% if request.path == "/user/config/" %}
        <a href="{% url "userauths:user-update" pk=current_user.pk %}" ><li><i class="fi fi-ss-user-pen"></i> Editar Perfil</li></a>
        <a  href="{% url "userauths:user-config" %}" ><li class="selecionado"><i class="fi fi-ss-palette"></i> Aparencia</li></a>
        {% else %}
        <a > <li class="selecionado"><i class="fi fi-ss-user-pen"></i> Editar Perfil</li></a>
        <a href="{% url "userauths:user-config" %}" ><li><i class="fi fi-ss-palette"></i> Aparencia</li></a>
        {% endif %}
    </ul>
    <a id="voltar" href="/">Voltar</a>
</nav>
{% endblock content %}
