
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    font-family: "Poppins";
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 1rem;
}
html, body {
    height: 100%;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
::placeholder {
    color: var(--color-fg);
}
#nopet{
    width: 100%;
    height: auto;
    color: var(--color-fg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nopet img{
    margin-top: 2rem;
    height: 15rem;
    border-radius: 12px;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
