[data-color="padrao"] {
    --color-contraste: #252525;
    --color-main: #ffc401;
    --color-main-hover: #e6b106;
    --color-detail: #46cbff;
    --color-detail-hover: #6CADC8;
}
[data-color="invertido"] {
    --color-contraste: #fff;
    --color-main: #46cbff;
    --color-main-hover: #6CADC8;
    --color-detail: #ffc401;
    --color-detail-hover: #e6b106;
}
[data-color="laranja"] {
    --color-contraste: #fff;
    --color-main: #FF8000;
    --color-main-hover: #D16600;
    --color-detail: #9ACD32;
    --color-detail-hover: #6B8E23;
}
[data-theme="light"]{
    --color-bg: #f5f5f5;
    --color-fg: #000000;
    --color-fg-hover: #b8b8b8;
    --color-fg-reverse: #fff;
    --color-card: #fff;
    --color-border: rgb(179, 179, 179);
}
[data-theme="dark"]{
    --color-bg: #222222;
    --color-fg: #fff;
    --color-fg-hover: #fcfcfc49;
    --color-fg-reverse: #252525;
    --color-card: #333333;
    --color-border: #fcfcfc49;
}
