[data-color="padrao"] {
    --color-contraste: #252525;
    --color-main: #ffb900;
    --color-main-hover: #e6a800;
    --color-detail: #00a0f0;
    --color-detail-hover: #0085c7;
}
[data-color="invertido"] {
    --color-contraste: #fff;
    --color-main: #9c27b0;
    --color-main-hover: #7b1fa2; 
    --color-detail: #ff4081; 
    --color-detail-hover: #f50057;
}
[data-color="laranja"] {
    --color-contraste: #fff;
    --color-main: #ff6d00;
    --color-main-hover: #e55c00;
    --color-detail: #7cb342;
    --color-detail-hover: #689f38;
}
[data-theme="light"] {
    --color-bg: #fdfdfd;
    --color-fg: #000000;
    --color-fg-hover: #b8b8b8;
    --color-fg-reverse: #fff;
    --color-card: #fff;
    --color-border: rgb(179, 179, 179);
}
[data-theme="dark"] {
    --color-bg: #222222;
    --color-fg: #fff;
    --color-fg-hover: #fcfcfc49;
    --color-fg-reverse: #252525;
    --color-card: #333333;
    --color-border: #fcfcfc49;
}
