header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--color-card);
    color: var(--color-fg);
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    height: 4.2rem;
    z-index: 2;
}
#left{
    align-items: baseline;
    display: flex;
    flex-direction: row;
}
#left a{
    background-color: var(--color-main);
}
#left p{
    margin-right: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
#left p:hover{
    background-color: var(--color-fg-hover);
    transform: scale(1.05);
}
#right, #search{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search{
    background-color: var(--color-card);
    color: var(--color-fg);
    border: 2px solid var(--color-border);
    height: 2rem;
    padding: 2px;
    border-radius: 10px;
    width: 20rem;
    margin-right: 30px;
    justify-content: space-evenly;
}
#search i{
    display: flex;
    align-items: center;
}
#search input{
    background-color: var(--color-card);
    height: 100%;
    width: 85%;
    border: none;
    border-radius: 8px;
    color: var(--color-fg);
}
#avatar{
    background-color: var(--color-main);
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 100%;
    border: 2px solid var(--color-main);
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
#avatar i{
    font-size: 1.5rem;
    color: var(--color-contraste);
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
#avatarImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    align-self: center;
}
#usuario{
    width: 100%;
    text-align: left;
    margin-top: -2px;
    margin-bottom: 0;
}
#userNav{
    top: 4.2rem;
    right: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-self: flex-end;
    background-color: var(--color-card);
    color: var(--color-fg);
    border-left: 2px solid #3333;
    border-bottom: 2px solid #3333;
    padding: 20px;
    justify-content: space-evenly;
    align-items: left;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

#userNav ul {
    list-style-type: none;
    padding: 0;
}

#userNav ul a {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--color-fg);

}
.menu-item:hover{
    background-color: var(--color-fg-hover);
    transform: scale(1.05);
    border-radius: 5px;
}

.menu-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor:pointer;
    align-items: center;
    text-align: center;
    padding: 12px;
}
.menu-item i{
    margin-left: 20px;
    cursor: pointer;
}
.menu-item:hover i{
    color: var(--color-main-hover);
}
#userNav #trocarCargo{
    width: 100%;
    align-self: center;
    margin: 0;
    color: var(--color-contraste);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
#entrar, #trocarCargo{
    background-color: var(--color-main);
    border: none;
    border-radius: 10px;
    width: 8rem;
    height: 2.3rem;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
trar:hover, #trocarCargo:hover{
    background-color: var(--color-main-hover);
    transform: scale(1.05);
}
#logoText{
    font-weight: 900;
    margin-right: 30px;
    color: var(--color-main);
}
#moreItens{
    display: none;
}

#menuIconMobile{
    display: none;
}