{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="listScreen">
    {% if pet %}
    {% for pets in pet %}
    <a href="{% url 'pets:pet_detail' pk=pets.id %}" class="petSaved">
        <img src="{{ pets.images_pets.first.image_pet_profile.url }}" alt="Foto de perfil do pet {{ pets.name }}">
        <h1>{{pets.name}}</h1>
    </a>
    {% endfor %}
    {% else %}
    <div id="nopet">
        <h1>Desculpa, você ainda não tentou adotar um pet :(</h1>
        <img src="{% static "assets/img/cat_sad.jpg" %}" alt="">
    </div>
    {% endif %}
</main>

{% endblock content %}
