{% extends "base.html" %} {% load static %} {% block content %}

<style>
    .contact-container {
        width: 50%;
        height: 100vh;
        margin: 0 auto;
        padding: 20px;
        background-color: var(--color-card);
        color: var(--color-fg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .contact-header {
        margin-bottom: 20px;
    }
    .contact-photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .contact-details {
        list-style: none;
        padding: 0;
        text-align: left;
        margin-bottom: 20px;
    }
    .contact-details li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    .contact-details li:last-child {
        border-bottom: none;
    }
    .contact-details a {
        color: var(--color-detail);
        text-decoration: none;
    }
    .contact-label {
        font-weight: bold;
    }
    .contact-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    .contact-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-main);
        color: var(--color-contraste);
        text-decoration: none;
        font-size: 16px;
    }
    .contact-button:hover {
        background-color: var(--color-main-hover);
    }
</style>

<div class="contact-container" id="contact-container">
    <h1 class="contact-header">Contatos para a Adoção do Pet</h1>
    {% if owner.image_user_profile.url %}
    <img
        class="contact-photo"
        src="{{ owner.image_user_profile.url }}"
        alt="Foto de perfil do dono : {{ owner.username }}"
    />
    {% endif %}
    <img
        class="contact-photo"
        src="{{ pet.images_pets.first.image_pet_datail1.url }}"
        alt="Foto de perfil do pet {{ pet.name }}"
    />
    <ul class="contact-details">
        <li>
            <span class="contact-label">Nome do atual dono:</span>
            {{owner.username}}
        </li>
        <li><span class="contact-label">Email:</span> {{owner.email}}</li>
        <li>
            <span class="contact-label">Telefone:</span> {{owner.phone_number}}
        </li>
        <li>
            <span class="contact-label">Instagram:</span>
            <a href="instagram.com/username">{{owner.instagram_field}}</a>
        </li>
        <li>
            <span class="contact-label">Facebook:</span>
            <a href="facebook.com/username">{{owner.facebook_field}}</a>
        </li>
    </ul>
    <button class="contact-button" onclick="downloadImage()">
        Baixar Imagem
    </button>
</div>

<script>
    function downloadImage() {
        html2canvas(document.querySelector("#contact-container"), {
            scale: 2,
            useCORS: true,
        }).then((canvas) => {
            let link = document.createElement("a");
            link.href = canvas.toDataURL("image/png");
            link.download = "informacoesDeContato.png";
            link.click();
        });
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
{% endblock content %}
