{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="contact-container" id="contact-container">
    <h1 class="contact-header">Contatos para a Adoção {% if pet.sex == "Female" %}da {% else %}do {% endif %} <span style="text-transform: capitalize; color:var(--color-main);">{{ pet.name }}</span></h1>
    {% if owner.image_user_profile %}
    <img
        class="contact-photo"
        src="{{ owner.image_user_profile.url }}"
        alt="Foto de perfil do dono : {{ owner.username }}"
    />
    {% else %}
    <img
    class="contact-photo"
    src="{% static "assets/img/avatar.jpg" %}"
    alt="Foto de perfil do dono : {{ owner.username }}"/>
    {% endif %}
    <img 
    src="{{ pet.images_pets.first.image_pet_profile.url }}"
    alt="Foto de perfil do pet {{ pet.name }}" 
    class="contact-photo"
    />

    <ul class="contact-details">
        <li style="text-transform: capitalize;">
            <span class="contact-label">Nome do atual dono:</span>
            {{owner.username}}
        </li>
        <li><span class="contact-label">Email:</span> {{owner.email}}</li>
        <li>
            <span class="contact-label">Telefone:</span> 
            {% if owner.phone_number %}
            {{owner.phone_number}}
            {% else %}
            <p>Nenhum Telefone adicionado pelo usuario</p>
            {% endif %}
        </li>
        <li>
            <span class="contact-label">Instagram:</span>
            {% if owner.instagram_field %}
            <a href="https://www.instagram.com/{{owner.instagram_field}}">@{{owner.instagram_field}}</a>
            {% else %}
            <p>Nenhum Intagram adicionado pelo usuario</p>
            {% endif %}
        </li>
        <li>
            <span class="contact-label">Facebook:</span>
            {% if owner.facebook_field %}
            <a href="https://www.facebook.com/{{owner.facebook_field}}">@{{owner.facebook_field}}</a>
            {% else %}
            <p>Nenhum Facebook adicionado pelo usuario</p>
            {% endif %}
        </li>
    </ul>
</div>
        <button class="contact-button" onclick="downloadImage()">
            Baixar Imagem
        </button>

<script>
    function downloadImage() {
        html2canvas(document.querySelector("#contact-container"), {
            scale: 2,
            useCORS: true,
        }).then((canvas) => {
            let link = document.createElement("a");
            link.href = canvas.toDataURL("image/png");
            link.download = "informacoesDeContato.png";
            link.click();
        });
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
{% endblock content %}
