
.navbar{
    position: fixed;
    top: 0;
    z-index: 2;
    width: auto;
    height: auto;
    padding-bottom: 15px;
    display: none;
    background-color: var(--color-card);
    /* border-top-right-radius: 30px; */
}