<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        {% include "partials/_head.html" %}

        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body data-color="padrao" data-theme="dark">

        {% comment %} MAIN {% endcomment %}
        {% block content %}{% endblock content %}

        {% include "partials/_footer.html" %}

    <script>
        function showErrors() {
            document.getElementById('error-messages').style.display = 'flex';
            setTimeout(hideErrors, 6000);
        }
        function hideErrors() {
            document.getElementById('error-messages').style.display = 'none';
        }
        window.onload = function() {
            var formErrors = document.querySelectorAll('.alert-dangers #close');
            if (formErrors.length > 0) {
                showErrors();
            }
        };
        document.querySelector('.alert-dangers #close').addEventListener('click', function() {
            hideErrors();
        });


    </script>
    </body>
</html>
