<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        {% include "partials/_head.html" %}

        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body data-color="" data-theme="">

        {% comment %} MAIN {% endcomment %}
        {% block content %}{% endblock content %}

        {% include "partials/_footer.html" %}

        <script>
            function showErrors(id) {
                document.getElementById(id).style.display = 'flex';
                setTimeout(function() {
                    hideErrors(id);
                }, 6000);
            }
        
            function hideErrors(id) {
                document.getElementById(id).style.display = 'none';
            }
        
            window.onload = function() {
                var formErrors = document.querySelectorAll('.alert-dangers');
                formErrors.forEach(function(errorContainer) {
                    if (errorContainer.querySelector('ul#error-list li')) {
                        showErrors(errorContainer.id);
                    }
                });
        
                var closeButtons = document.querySelectorAll('.alert-dangers .closeE');
                closeButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                        hideErrors(button.closest('.alert-dangers').id);
                    });
                });
            };
        </script>
    </body>
</html>
