#changePhotoLabel{
    background-color: var(--color-detail);
    padding: 10px;    
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s,transform 0.3s;
}
#changePhotoLabel:hover{
    background-color: var(--color-detail-hover);
    transform: scale(1.05);
}
#profileImageDiv{
    width: 200px;
    height: 200px;
    background-color: var(--color-card);
    border-radius: 5px;
    margin-right: 1.3rem;
}
#profileImageDiv img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#photoDiv{
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: left;
}
#inputDiv{
    color: var(--color-fg);
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#inputDiv label{
    margin-bottom: 0.5rem;
}
#inputDiv input{
    margin-bottom: 2rem;
    border-radius: 7px;
    border: 3px solid var(--color-detail);
    padding: 14px;
    background-color: var(--color-card);
    color: var(--color-fg);
    font-size: 0.9rem;
}
#deletarPerfil{
    background-color: transparent;
    border: 2px solid red;
    text-align: center;
    border-radius: 6px;
    margin-top: 5rem;
    padding: 10px;
    font-size: 1rem;
    width: 10%;
    font-weight: 200;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
 
}
#deletarPerfil:hover{
    background-color: rgba(255, 31, 31, 0.692);
    transform: scale(1.05);

}
#phtoform{
    margin-top: 3rem;
}