#bannerArea {
    height: 300px;
    margin-top: 3.5rem;
}

.slider-nav {
    padding: 10px 7px;
}

@media (max-width: 480px) {
    #bannerArea {
        height: 250px;
        margin-top: 3.2rem;
    }

    #sliderStatus {
        margin-top: 15px;
    }

    .dot {
        width: 8px;
        height: 8px;
    }
}
