#petDetail #t1{
    flex-direction: column;
}
#petDetail #titulo img{
    width: 6rem;
    height: 6rem;
}
#petDetail #titulo h1{
    width: 60%;
    text-align: right;
}
#petDetail #titulo {
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#petDetail #t1 #btns{
    font-size: 1rem;
    justify-content: space-around;
    margin-top: 1rem;
}
#petDetail #t1 #btns form button{
    font-size: 1rem;
    display: block;
    text-align: left;
}
#petDetail #t1 #btns a{
    font-size: 1rem;
}
#queroAdotar{
    padding: .8rem;
}
#petDetail #main{
    flex-direction: column;
}
#galeria{
    position: relative;
    width: 80%;
    margin-bottom: 10px;
}
#details{
    width: 80%;
    align-items: center;
}
#details section{
    width: 100%;
}
#petDetail #main{
    align-items: center;
}