@media screen and (min-width: 601px) {
    body {
        padding: 0;
        margin: 0;
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
    }

    #login {
        display: flex;
        width: 70%;
        height: 32rem;
        border-radius: 23px;
        justify-content: center;
    }
    #login,
    #registro {
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: row;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: var(--color-fg);
    }

    #leftL {
        background-color: var(--color-main);
        color: var(--color-contraste);
        height: 100%;
        width: 50%;
        padding: 1rem;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        border-radius: 20px 0 0 20px;
    }
    #criarContaDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #rightL {
        background-color: var(--color-card);
        height: 100%;
        width: 50%;
        border-radius: 0 20px 20px 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #registro {
        width: 100%;
        height: 100%;
        border-radius: 0;
        overflow: auto;
        justify-content: right;
    }

    #leftR {
        color: var(--color-fg);
        background-color: var(--color-card);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;        height: 100%;
        width: 25%;
        padding: 1rem;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }

    #rightR {
        background-color: var(--color-card);
        background-color: var(--color-bg);
        height: 100%;
        width: 72%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-y: auto;
    }
    .containerIB {
        font-size: 2rem;
        color: var(--color-card);
        cursor: pointer;
        padding: 12px;
        margin: auto 15px auto 15px;
        transition: ease 0.2s;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        width: 2rem;
        height: 2rem;
        display: flex;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-decoration: none;
        background-color: var(--color-detail);
    }
    .containerIB i {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .containerIB:hover {
        color: var(--color-detail-hover);
    }

    .containerI {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #peloFace,
    #jatemconta {
        width: 97%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    #peloFace {
        margin-bottom: 2rem;
    }

    #cadastrar {
        margin-bottom: 1rem;
    }

    #mobileTitle {
        display: none;
    }
}
#leftR img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}
input {
    border: 3px solid var(--color-main);
    background-color: var(--color-card);
    color: var(--color-fg);
    border-radius: 12px;
    margin-bottom: 40px;
    padding-left: 10px;
    width: 90%;
    outline: none;
    font-size: 1rem;
    height: 2.6rem;
}

#leftL h1 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}
#leftR h1{
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
}
h2 {
    font-weight: 700;
    font-size: 2.3rem;
    text-align: center;
    text-transform: capitalize;
}
.btnLogin {
    height: 3rem;
    width: 80%;
    border: 3px solid var(--color-detail);
    cursor: pointer;
    border-radius: 12px;
    background-color: var(--color-detail);
    color: var(--color-fg);
    transition: ease 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
#rightR h2 {
    margin-top: 5rem;
}
#rightR {
    height: 100%;
}
#rightL h2 {
    margin-top: 0;
}
#rightL .btnLogin {
    width: 93%;
}
.btnLogin:hover {
    background-color: var(--color-detail-hover);
    transform: scale(1.05);
}
p {
    font-weight: 200;
    font-size: 1.3rem;
    text-align: center;
}
#passwordForget {
    margin-top: 1.5rem;
    text-decoration: none;
    color: var(--color-fg);
}
#passwordForget span {
    color: var(--color-detail);
}
#passwordForget span:hover {
    color: var(--color-detail-hover);
}
@media screen and (min-width: 1115px) {
    #rightR {
        width: 73%;
        height: auto;
    }
    #rightR .btnLogin {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1686px) {
    #rightR {
        width: 74%;
    }
}
@media screen and (min-width: 1900px) {
    #login {
        width: 60%;
        height: 40rem;
    }
    input {
        height: 3rem;
    }
    h2 {
        font-weight: 900;
        font-size: 3rem;
        text-align: center;
    }
    #rightR h2 {
        margin: 0;
    }
    p {
        font-weight: 400;
        font-size: 1.35rem;
    }
    #rightR {
        width: 75%;
        height: 100%;
    }
    #peloFace {
        margin-bottom: 4rem;
    }
}
@media screen and (min-width: 840px) {
    .mobileForm {
        display: none;
    }
    #mobileRegistro {
        display: none;
    }
}
#fotoDePerfil {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 6rem;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;
}
#fotoDePerfil h6 {
    background-color: var(--color-main);
    color: var(--color-detail);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    margin-right: 1rem;
}
#fotoDePerfil h6 img {
    width: 90%;
    height: 90%;
    border-radius: 100%;
}
#userAreaPhoto i{
    font-size: 2rem;
}
.custom-file-input {
    display: none;
}

.custom-file-label {
    background-color: var(--color-detail);
    color: var(--color-fg);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-label:hover {
    background-color: var(--color-detail-hover);
}

.custom-file-input + .custom-file-label {
    margin-top: 10px;
}
#rightR input[type= "text"]{
    text-transform:capitalize;
}
.label{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.label label{
    padding: 3px;
    border-radius: 6px;
    position: absolute;
    background-color: var(--color-card);
    color: var(--color-fg);
    font-size: 1rem;
    font-weight: 200;
    margin-left: -21rem;
    margin-bottom: 2.2rem;
    z-index: 2;
    transition: margin 0.3s ease;
}
.troca{
    display: none;
}
.mobileForm{
    display: none;
}