@media screen and (min-width: 601px) {
    body {
        padding: 0;
        margin: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    #login {
        display: flex;
        width: 70%;
        height: 30rem;
        border-radius: 23px;
    }
    #login,
    #registro {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: row;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: var(--color-fg);
    }

    #leftL {
        background-color: var(--color-main);
        height: 100%;
        width: 50%;
        padding: 1rem;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        border-radius: 20px 0 0 20px;
    }
    #criarContaDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #rightL {
        background-color: var(--color-card);
        height: 100%;
        width: 50%;
        border-radius: 0 20px 20px 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #registro {
        width: 100%;
        height: 100%;
        border-radius: 0;
        overflow: hidden;
    }

    #leftR {
        background-color: var(--color-main);
        height: 100%;
        width: 30%;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #rightR {
        background-color: var(--color-card);
        height: 100%;
        width: 70%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
    }

    #login i {
        font-size: 2rem;
        color: var(--color-card);
        cursor: pointer;
        padding: 12px;
        background-color: var(--color-main);
        transition: ease 0.2s;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        width: 2rem;
        height: 2rem;
        display: flex;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    #login i:hover {
        color: var(--color-detail-hover);
        background-color: var(--color-main-hover);
    }
    #leftR i {
        font-size: 2rem;
        color: var(--color-card);
        cursor: pointer;
        padding: 12px;
        background-color: var(--color-detail);
        transition: ease 0.2s;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        width: 2rem;
        height: 2rem;
        display: flex;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    #leftR i:hover {
        color: var(--color-detail-hover);
    }

    .containerI {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }

    #peloFace,
    #jatemconta {
        width: 97%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    #peloFace {
        margin-bottom: 1.2rem;
    }

    #fotoDePerfil {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 6rem;
        align-items: center;
        justify-content: left;
        margin-bottom: 1rem;
    }
    #fotoDePerfil h6 {
        background-color: var(--color-main);
        color: var(--color-detail);
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        border-radius: 100%;
        margin-right: 1rem;
    }
    #fotoDePerfil h6 img {
        width: 90%;
        height: 90%;
        border-radius: 100%;
    }
    #fotoDePerfilInp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        height: 100%;
    }
    #fotoDePerfil input[type="file"] {
        border: none;
    }
    #fotoDePerfilInp label {
        margin-bottom: 20px;
    }
    #temporario {
        width: 20%;
    }
    #avatarUrl {
        width: 3rem;
        align-self: center;
    }
    #cadastrar {
        margin-bottom: 1rem;
    }
    #cLogin,
    #cRegistro {
        display: none;
    }
    #mobileTitle {
        display: none;
    }
}

input {
    border: 3px solid var(--color-main);
    background-color: var(--color-card);
    color: var(--color-fg);
    border-radius: 12px;
    margin-bottom: 40px;
    padding-left: 10px;
    width: 90%;
    outline: none;
    font-size: 1rem;
    height: 2.4rem;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}
button,
a {
    height: 3rem;
    width: 80%;
    border: 3px solid var(--color-detail);
    cursor: pointer;
    border-radius: 12px;
    background-color: var(--color-detail);
    color: var(--color-fg);
    transition: ease 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#rightL button,
#rightR button {
    width: 93%;
}
button:hover,
a:hover {
    background-color: var(--color-detail-hover);
}
p {
    font-weight: 200;
    font-size: 1.3rem;
    text-align: center;
}
@media screen and (min-width: 1900px) {
    #login {
        width: 60%;
        height: 40rem;
    }
    input {
        height: 3rem;
        margin-bottom: -10px;
    }
    #rightL button,
    #rightR button {
        height: 3.5rem;
        width: 90%;
        font-size: 1.8rem;
    }
    h2 {
        font-weight: 900;
        font-size: 3rem;
        text-align: center;
    }
    #rightR h2 {
        margin: 0;
    }
    p {
        font-weight: 400;
        font-size: 1.35rem;
    }
}
